fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
bcrypt
itsdangerous
cryptography
filelock
python-multipart
pandas
lxml
html5lib
openpyxl
xlsxwriter
xlrd
pyxlsb
oracledb
email-validator
dnspython
